.btn:not(.btn-light):not([class^="btn-outline-"]) .dropdown-toggle:after {
  color: #fff;
}

.user-dropdown-status,
.user-dropdown-name {
  margin: 0;
}

.dropdown.show {
  > .dropdown-menu {
    display: block;
  }
}

.dropdown-menu {
  --#{$prefix}dropdown-border-color: #{$custom-border-color};
  background: var(--#{$prefix}dropdown-bg);
  color: var(--#{$prefix}dropdown-color);
  border: 1px solid var(--ct-dropdown-border-color);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  color: var(--#{$prefix}dropdown-color);
  border: 0;

  * {
    color: var(--#{$prefix}dropdown-color);
  }

  &:focus,
  &:hover,
  &.active,
  &:active {
    text-decoration: none;
    background-color: var(--#{$prefix}dropdown-link-active-bg);
    color: var(--#{$prefix}dropdown-link-active-color);
    border-radius: 6px;

    * {
      color: var(--#{$prefix}dropdown-link-active-color);
    }
  }

  &.disabled,
  &:disabled {
    color: var(--#{$prefix}secondary-color);
    pointer-events: none;
    background-color: transparent;
  }

  .show {
    display: block;
  }
}

.dropdown-divider {
  height: 0;
  margin: 0.3rem 0;
  overflow: hidden;
  border-top: 1px solid var(--#{$prefix}dropdown-divider-bg);
  opacity: 1;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: var(--#{$prefix}tertiary-color);
  white-space: nowrap;
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #3a3b45;
}
